<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>NineEleven - Multipurpose Business Landing Page</title>
    <!--Favicon-->
    <link rel="shortcut icon" type="image/png" href="img/favicon.png">
    <!--Google Font-->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <!--Bootstrap CSS-->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <!--Owl Carousel CSS-->
    <link rel="stylesheet" type="text/css" href="css/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="css/owl.theme.min.css">
    <!--Portfolio CSS-->
    <link rel="stylesheet" type="text/css" href="css/mixitup.css">
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <!--Slick CSS-->
    <link rel="stylesheet" type="text/css" href="css/slick.css">
    <!--Font Awesome CSS-->
    <link rel="stylesheet" type="text/css" href="css/fontawesome-all.min.css">
    <!--Icons CSS-->
    <link rel="stylesheet" type="text/css" href="css/ionicons.min.css">
    <!--Main CSS-->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <!--Responsive CSS-->
    <link rel="stylesheet" type="text/css" href="css/responsive.css">
    <!--Particles CSS-->
    <link rel="stylesheet" type="text/css" href="css/particles.css">
</head>

<body>

    <div id="preloader">
        <div class="spinner">
         <div class="rect1"></div>
         <div class="rect2"></div>
         <div class="rect3"></div>
         <div class="rect4"></div>
         <div class="rect5"></div>
     </div>
 </div>

 <!--Start Body Wrap-->
 <div id="body-wrapper">
    <!--Start Header-->
    <header id="header">

        <!--Start Main Menu-->
        <div class="main_navbar">   
            <!-- MAIN NAVBAR -->
            <nav class="navbar navbar-expand-lg  navbar-dark">
                <div class="container">
                    <a class="navbar-brand logo-sticky font-600" href="index4.html"><img src="img/logo.png" alt="logo"></a>
                    <button class="navbar-toggler collapsed" data-toggle="collapse" data-target="#navbarNav" aria-expanded="false"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ml-auto" id="nav">
                            <li class="nav-item">
                                <a class="nav-link js-scroll-trigger" href="#about">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link js-scroll-trigger" href="#services">Services</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link js-scroll-trigger" href="#portfolios">Portfolio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link js-scroll-trigger" href="#pricing">Pricing</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link js-scroll-trigger" href="#our_experts">Our Team</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link js-scroll-trigger" href="#testimonial">Testimonials</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <!--End Main Menu-->

    </header>
    <!--End Header-->

    <!--Start Banner Section-->
    <section id="main-banner" class="bg-cover position-relative full-height text-center">
        <div id="particles-js"></div>
        <div class="overlay z-index"></div>
        <div class="caption-content dp-table">
            <div class="tbl-cell position-relative">
                <h1 class="b-h">We Love<span> Make Things Amazing</span></h1>
                <p class="color-white mt-3 b-p">Maecenas class semper class semper sollicitudin lectus lorem iaculis imperdiet aliquam vehicula tempor auctor curabitur pede aenean ornare.
                </p>
                <div class="large-btn animated slideInUp">
                    <a class="btn btn-light mt-5 mr-4" href="#">About Us</a><a class="btn btn-primary mt-5" href="#">Contact</a>
                </div>
            </div>
        </div>
    </section>
    <!--End Banner Section-->

    <!--Start Features Section-->
    <section id="features" class="section-bottom-padding60 pt-0">
        <!--Start Container-->
        <div class="container">
            <!--Start Features Row-->
            <div class="row">
                <!--Start Feature Single-->
                <div class="col-12 col-lg-4 col-md-4">
                    <div class="feature-single text-center">
                        <i class="icon ion-md-heart-empty"></i>
                        <h4>Great Strategy</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat id ex, facilis provident delectus, tempore.</p>
                    </div>
                </div>
                <!--End Feature Single-->

                <!--Start Feature Single-->
                <div class="col-12 col-lg-4 col-md-4">
                    <div class="feature-single text-center">
                        <i class="icon ion-md-globe"></i>
                        <h4>Effective Marketing</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat id ex, facilis provident delectus, tempore.</p>
                    </div>
                </div>
                <!--End Feature Single-->

                <!--Start Feature Single-->
                <div class="col-12 col-lg-4 col-md-4">
                    <div class="feature-single text-center">
                        <i class="icon ion-md-megaphone"></i>
                        <h4>Best Promotion</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat id ex, facilis provident delectus, tempore.</p>
                    </div>
                </div>
                <!--End Feature Single-->
            </div>
            <!--End Features Row-->
        </div>
        <!--End Container-->
    </section>
    <!--End Features Section-->

    <!--Start About Section-->
    <section id="about"  class="bg-green">
        <!--Start Container-->
        <div class="container-fluid">
            <!--Start Row-->
            <div class="row no-gutters">
             <div class="col-lg-3">
                 <div class="about_img">
                     <img src="img/about1.jpeg" class="img-fluid" alt="about_img">
                 </div>
             </div>
             <div class="col-lg-3">
                 <div class="about_content">
                    <h4>Consulting Business</h4>
                    <h5>ongoing projects</h5>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti assumenda, officiis ducimus accusamus, perferendis fuga facere, error mollitia architecto nulla eius.
                    </p>
                    <a class="btn btn-border-light btn-sm-pro" href="#">Read More</a>
                </div>
            </div>
            <div class="col-lg-3">
             <div class="about_img">
                 <img src="img/about2.jpg" class="img-fluid" alt="about_img">
             </div>
         </div>
         <div class="col-lg-3">
             <div class="about_content">
                <h4>Promote SEO</h4>
                <h5>ongoing projects</h5>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti assumenda, officiis ducimus accusamus, perferendis fuga facere, error mollitia architecto nulla eius.
                </p>
                <a class="btn btn-border-light btn-sm-pro" href="#">Read More</a>
            </div>
        </div>
    </div>
    <!--End Row-->
</div>
<!--End Container-->
</section>
<!--End About Section-->

<!--Start Services Section-->
<section id="services">
    <!--Start Container-->
    <div class="container">
        <!--Start Heading-->
        <div class="row">
            <div class="col-12">
                <div class="heading text-center">
                    <h2 class="p-color">Services</h2>
                    <p>We work with you to build comprehensive, thoughtful, and purpose-driven identities and experiences. Let’s talk about job.</p>
                </div>
            </div>
        </div>
        <!--End Heading-->

        <!--Start Services Row-->
        <div class="row">
            <!--Start Service Single-->
            <div class="col-lg-4 col-md-6">
                <div class="service-single">
                    <h4><i class="icon ion-md-paper-plane"></i> <span>Branding</span></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat id ex, facilis provident delectus, tempore.</p>
                </div>
            </div>
            <!--End Service Single-->

            <!--Start Service Single-->
            <div class="col-lg-4 col-md-6">
                <div class="service-single">
                    <h4><i class="icon ion-md-pie"></i> <span>Finance</span></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat id ex, facilis provident delectus, tempore.</p>
                </div>
            </div>
            <!--End Service Single-->

            <!--Start Service Single-->
            <div class="col-lg-4 col-md-6">
                <div class="service-single">
                    <h4><i class="icon ion-md-globe"></i> <span>Advertising</span></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat id ex, facilis provident delectus, tempore.</p>
                </div>
            </div>
            <!--End Service Single-->

            <!--Start Service Single-->
            <div class="col-lg-4 col-md-6">
                <div class="service-single">
                    <h4><i class="icon ion-md-paper-plane"></i> <span>Finance</span></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat id ex, facilis provident delectus, tempore.</p>
                </div>
            </div>
            <!--End Service Single-->

            <!--Start Service Single-->
            <div class="col-lg-4 col-md-6">
                <div class="service-single">
                    <h4><i class="icon ion-md-globe"></i> <span>Career</span></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat id ex, facilis provident delectus, tempore.</p>
                </div>
            </div>
            <!--End Service Single-->

            <!--Start Service Single-->
            <div class="col-lg-4 col-md-6">
                <div class="service-single">
                    <h4><i class="icon ion-md-pie"></i> <span>Development</span></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat id ex, facilis provident delectus, tempore.</p>
                </div>
            </div>
            <!--End Service Single-->
        </div>
        <!--End Services Row-->


    </div>
    <!--End Container-->
</section>
<!--End Services Section-->

<!-- Portfolio Section -->
<section id="portfolios" class="bg-gray default-padding">
  <!-- Container Starts -->
  <div class="container">
    <!--Start Heading-->
    <div class="row">
        <div class="col-12">
            <div class="heading text-center">
                <h2 class="p-color">Portfolio</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum autem similique obcaecati non magni rerum maxime Officia.</p>
            </div>
        </div>
    </div>
    <div class="row justify-content-center text-center">
        <ul id="filters" class="clearfix">
            <li><span class="filter active" data-filter=".app, .card, .logo, .web">All</span></li>
            <li><span class="filter" data-filter=".app">App</span></li>
            <li><span class="filter" data-filter=".card">Card</span></li>
            <li><span class="filter" data-filter=".logo">Logo</span></li>
            <li><span class="filter" data-filter=".web">Web</span></li>
        </ul>
    </div>
    <!--End Heading-->
    <div id="portfoliolist1">

        <div class="portfolio1 logo" data-cat="logo">
            <div class="portfolio-wrapper1">             
                <img src="img/portfolios/logo/5.jpg" alt="" />
                <div class="label">
                    <div class="label-text">
                        <a class="text-title">Bird Document</a>
                        <span class="text-category">Logo</span>
                    </div>
                    <div class="label-bg"></div>
                </div>
            </div>
        </div>              

        <div class="col-12 col-lg-4 portfolio1 app" data-cat="app">
            <div class="portfolio-wrapper1">         
                <img src="img/portfolios/app/1.jpg" alt="" />
                <div class="label">
                    <div class="label-text">
                        <a class="text-title">Visual Infography</a>
                        <span class="text-category">APP</span>
                    </div>
                    <div class="label-bg"></div>
                </div>
            </div>
        </div>      

        <div class="col-12 col-lg-4 portfolio1 web" data-cat="web">
            <div class="portfolio-wrapper1">                     
                <img src="img/portfolios/web/4.jpg" alt="" />
                <div class="label">
                    <div class="label-text">
                        <a class="text-title">Sonor's Design</a>
                        <span class="text-category">Web design</span>
                    </div>
                    <div class="label-bg"></div>
                </div>
            </div>
        </div>              

        <div class="col-12 col-lg-4 portfolio1 card" data-cat="card">
            <div class="portfolio-wrapper1">         
                <img src="img/portfolios/card/1.jpg" alt="" />
                <div class="label">
                    <div class="label-text">
                        <a class="text-title">Typography Company</a>
                        <span class="text-category">Business card</span>
                    </div>
                    <div class="label-bg"></div>
                </div>
            </div>
        </div>  

        <div class="col-12 col-lg-4 portfolio1 app" data-cat="app">
            <div class="portfolio-wrapper1">
                <img src="img/portfolios/app/3.jpg" alt="" />
                <div class="label">
                    <div class="label-text">
                        <a class="text-title">Weatherette</a>
                        <span class="text-category">APP</span>
                    </div>
                    <div class="label-bg"></div>
                </div>
            </div>
        </div>          

        <div class="col-12 col-lg-4 portfolio1 card" data-cat="card">
            <div class="portfolio-wrapper1">         
                <img src="img/portfolios/card/4.jpg" alt="" />
                <div class="label">
                    <div class="label-text">
                        <a class="text-title">BMF</a>
                        <span class="text-category">Business card</span>
                    </div>
                    <div class="label-bg"></div>
                </div>
            </div>
        </div>  

        <!-- mix it up js -->
        

    </div>

</div>
<!-- Container Ends -->
</section>
<!-- Portfolio Section Ends --> 

<!--Start Call To Action-->
<section id="contact-now" class="bg-cover position-relative text-center">
    <div class="overlay"></div>
    <!--Start Container-->
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <h2 class="p-color"> DO YOU NEED ANY SERVICE ?</h2>
                <p class="color-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum labore minus dolore ab itaque animi sit, quae non quas architecto quaerat fugit in temporibus sequi laboriosam, repellat tempore consequuntur voluptatem.</p>
                <div class="contact-now-button">
                    <a href="#contact">Contact Now</a>
                </div>
            </div>
        </div>
    </div>
    <!--End Container-->
</section>
<!--End Call To Action-->

<!--Start Pricing Section-->
<section id="pricing" class="bg-gray default-padding">
    <!--Start Container-->
    <div class="container">
        <!--Start Heading-->
        <div class="row">
            <div class="col-12">
                <div class="heading text-center">
                    <h2 class="p-color"> Pricing Plan </h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum autem similique obcaecati non magni rerum maxime Officia.</p>
                </div>
            </div>
        </div>
        <!--End Heading-->

        <!--Start Pricing Table Row-->
        <div class="row">
            <!--Start Pricing Table Single-->
            <div class="col-md-4">
                <div class="pricing-table-single fix text-center">
                    <div class="table-title">
                        <h2 class="p-color">Basic Plan</h2>
                    </div>
                    <div class="price-amount">
                        <h2>$12.99</h2>
                    </div>
                    <div class="table-details">
                        <ul>
                            <li>Consulting</li>
                            <li>Investments</li>
                            <li>Business Planning</li>
                            <li>Advising</li>
                        </ul>
                    </div>
                    <div class="table-btn">
                        <a href="#">Buy Now</a>
                    </div>
                </div>
            </div>
            <!--End Pricing Table Single-->

            <!--Start Pricing Table Single-->
            <div class="col-md-4">
                <div class="pricing-table-single fix text-center">
                    <div class="table-title">
                        <h2 class="p-color">Advanced Plan</h2>
                    </div>
                    <div class="price-amount">
                        <h2>$15.99</h2>
                    </div>
                    <div class="table-details">
                        <ul>
                            <li>Consulting</li>
                            <li>Investments</li>
                            <li>Business Planning</li>
                            <li>Advising</li>
                        </ul>
                    </div>
                    <div class="table-btn">
                        <a href="#">Buy Now</a>
                    </div>
                </div>
            </div>
            <!--End Pricing Table Single-->

            <!--Start Pricing Table Single-->
            <div class="col-md-4">
                <div class="pricing-table-single fix text-center">
                    <div class="table-title">
                        <h2 class="p-color">Premium Plan</h2>
                    </div>
                    <div class="price-amount">
                        <h2>$24.99</h2>
                    </div>
                    <div class="table-details">
                        <ul>
                            <li>Consulting</li>
                            <li>Investments</li>
                            <li>Business Planning</li>
                            <li>Advising</li>
                        </ul>
                    </div>
                    <div class="table-btn">
                        <a href="#">Buy Now</a>
                    </div>
                </div>
            </div>
            <!--End Pricing Table Single-->
        </div>
        <!--End Pricing Table Row-->
    </div>
    <!--End Container-->
</section>
<!--End Pricing Section-->

<!--Start Counter Section-->
<section id="counter" class="bg-cover position-relative">
    <div class="overlay"></div>
    <!--Start Container-->
    <div class="container">
        <!--Start Counter Row-->
        <div class="row">
            <!--Start Counter Single-->
            <div class="col-lg-3 col-md-6">
                <div class="counter-single text-center">
                    <i class="fas fa-dollar-sign"></i>
                    <h2>12800</h2>
                    <h6 class="">Money Donated</h6>
                </div>
            </div>
            <!--End Counter Single-->

            <!--Start Counter Single-->
            <div class="col-lg-3 col-md-6">
                <div class="counter-single text-center">
                    <i class="far fa-star"></i>
                    <h2>1020</h2>
                    <h6 class="">5 Star Rating</h6>
                </div>
            </div>
            <!--End Counter Single-->

            <!--Start Counter Single-->
            <div class="col-lg-3 col-md-6">
                <div class="counter-single text-center">
                    <i class="fas fa-chess-pawn"></i>
                    <h2>560</h2>
                    <h6 class="">Won Award</h6>
                </div>
            </div>
            <!--End Counter Single-->

            <!--Start Counter Single-->
            <div class="col-lg-3 col-md-6">
                <div class="counter-single text-center">
                    <i class="fas fa-anchor"></i>
                    <h2>1550</h2>
                    <h6 class="">Complete Project</h6>
                </div>
            </div>
            <!--End Counter Single-->
        </div>
        <!--End Counter Row-->
    </div>
    <!--End Container-->
</section>
<!--End Counter Section-->

<!--Start Team Section-->
<section id="our_experts">
 <div class="container">
    <!--Start Heading-->
    <div class="row">
      <div class="col-12">
          <div class="heading text-center">
              <h2 class="p-color">Experts</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum autem similique obcaecati non magni rerum maxime Officia.</p>
          </div>
      </div>
  </div>
  <!--End Heading-->
  <div class="row">
   <div class="col-md-4">
      <div class="our_experts_img">
         <img src="img/our_experts_img1.jpg" alt="our_experts_img" class="image">
         <div class="overlay">
            <div class="text">
               <h4>Roberto Wilkins</h4>
               <p>CEO</p>
           </div>
       </div>
   </div>
</div>
<div class="col-md-4">
  <div class="our_experts_img">
     <img src="img/our_experts_img2.jpg" alt="our_experts_img" class="image">
     <div class="overlay">
        <div class="text">
           <h4>Juana Bailey</h4>
           <p>Brand Management Consultant</p>
       </div>
   </div>
</div>
</div>
<div class="col-md-4">
  <div class="our_experts_img">
     <img src="img/our_experts_img3.jpg" alt="our_experts_img" class="image">
     <div class="overlay">
        <div class="text">
           <h4>Derrick Foster</h4>
           <p>Business Analyst</p>
       </div>
   </div>
</div>
</div>
</div>
</div>
</section>
<!--End Team Section-->

<!-- testimonial Section Start -->
<section class="clients_testimonial_area default-padding" id="testimonial">
  <div class="container">
    <!--Start Heading-->
    <div class="row">
        <div class="col-12">
            <div class="heading text-center">
                <h2 class="p-color">Testimonials</h2>
            </div>
        </div>
    </div>
    <!--End Heading-->

    <div class="row">
        <div class=" col-md-8 mx-auto">
            <div id="testimonial-slider" class="owl-carousel">
                <div class="testimonial">
                    <div class="pic">
                        <img src="img/img-1.jpg" alt="">
                    </div>
                    <p class="description">
                        " Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem commodi eligendi facilis itaque minus non odio, quaerat ullam unde voluptatum? "
                    </p>
                    <h3 class="testimonial-title">williamson</h3>
                    <span class="post">Web Developer</span>
                    <ul class="testimonial-rating">
                        <li class="fa fa-star-o"></li>
                        <li class="fa fa-star-o"></li>
                        <li class="fa fa-star"></li>
                    </ul>
                </div>

                <div class="testimonial">
                    <div class="pic">
                        <img src="img/img-2.jpg" alt="">
                    </div>
                    <p class="description">
                        " Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem commodi eligendi facilis itaque minus non odio, quaerat ullam unde voluptatum? "
                    </p>
                    <h3 class="testimonial-title">kristiana</h3>
                    <span class="post">Web Designer</span>
                    <ul class="testimonial-rating">
                        <li class="fa fa-star-o"></li>
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star"></li>
                    </ul>
                </div>

                <div class="testimonial">
                    <div class="pic">
                        <img src="img/img-3.jpg" alt="">
                    </div>
                    <p class="description">
                        " Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem commodi eligendi facilis itaque minus non odio, quaerat ullam unde voluptatum? "
                    </p>
                    <h3 class="testimonial-title">Steve Thomas</h3>
                    <span class="post">Web Developer</span>
                    <ul class="testimonial-rating">
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</section>

<!-- testimonial Section Start -->

<!--Start Latest Blog Section-->
<section id="latest-blog" class="bg-gray default-padding">
    <!--Start Container-->
    <div class="container">
        <!--Start Heading-->
        <div class="row">
            <div class="col-12">
                <div class="heading text-center">
                    <h2 class="p-color">Latest Blog </h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum autem similique obcaecati non magni rerum maxime Officia.</p>
                </div>
            </div>
        </div>
        <!--End Heading-->

        <!--Start Blog Post Row-->
        <div class="row">
            <!--Start Latest Post Single-->
            <div class="col-lg-6">
                <div class="blog-post-single latest row fix">
                    <div class="col-md-6 p-0">
                        <div class="post-media position-relative">
                            <a href="blog-details.html"><img src="img/blog-01.jpg" class="img-fluid" alt="Image"></a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="post-details">
                            <div class="post-title">
                                <h2><a href="blog-details.html">Group Discussion Benefits</a></h2>
                            </div>
                            <div class="post-fact">
                                <a href="#"><i class="icofont icofont-user"></i> Admin</a><a href="#"><i class="icofont icofont-comment"></i> 15 Comments</a><a href="#"><i class="icofont icofont-like"></i> 22 Like</a>
                            </div>
                            <div class="post-content">
                                <p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci.</p>
                                <p><span><a class="font-500 p-color" href="blog-details.html"><i class="icofont icofont-arrow-right p-color"></i> Read More</a></span><span class="float-right"><a class="font-500 p-color" href="#"><i class="icofont icofont-user p-color"></i> 26 Mar 2018</a></span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Latest Post Single-->

            <!--Start Latest Post Single-->
            <div class="col-lg-6">
                <div class="blog-post-single latest row fix">
                    <div class="col-md-6 p-0">
                        <div class="post-media position-relative">
                            <a href="blog-details.html"><img src="img/blog-02.jpg" class="img-fluid" alt="Image"></a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="post-details">
                            <div class="post-title">
                                <h2><a href="blog-details.html">Business Development</a></h2>
                            </div>
                            <div class="post-fact">
                                <a href="blog-details.html"><i class="icofont icofont-user"></i> Client</a><a href="#"><i class="icofont icofont-comment"></i> 11 Comments</a><a href="#"><i class="icofont icofont-like"></i> 19 Like</a>
                            </div>
                            <div class="post-content">
                                <p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci.</p>
                                <p><span><a class="font-500 p-color" href="blog-details.html"><i class="icofont icofont-arrow-right p-color"></i> Read More</a></span><span class="float-right"><a class="font-500 p-color" href="#"><i class="icofont icofont-user p-color"></i> 28 Mar 2018</a></span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Latest Post Single-->

            <!--Start Latest Post Single-->
            <div class="col-lg-6">
                <div class="blog-post-single latest row fix">
                    <div class="col-md-6 p-0">
                        <div class="post-media position-relative">
                            <a href="blog-details.html"><img src="img/blog-03.jpg" class="img-fluid" alt="Image"></a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="post-details">
                            <div class="post-title">
                                <h2><a href="blog-details.html">Product Promotion Tips</a></h2>
                            </div>
                            <div class="post-fact">
                                <a href="#"><i class="icofont icofont-user"></i> Client</a><a href="#"><i class="icofont icofont-comment"></i> 23 Comments</a><a href="#"><i class="icofont icofont-like"></i> 18 Like</a>
                            </div>
                            <div class="post-content">
                                <p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci.</p>
                                <p><span><a class="font-500 p-color" href="blog-details.html"><i class="icofont icofont-arrow-right p-color"></i> Read More</a></span><span class="float-right"><a class="font-500 p-color" href="#"><i class="icofont icofont-user p-color"></i> 12 Apr 2018</a></span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Latest Post Single-->

            <!--Start Latest Post Single-->
            <div class="col-lg-6">
                <div class="blog-post-single latest row fix">
                    <div class="col-md-6 p-0">
                        <div class="post-media position-relative">
                            <a href="blog-details.html"><img src="img/blog-04.jpg" class="img-fluid" alt="Image"></a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="post-details">
                            <div class="post-title">
                                <h2><a href="blog-details.html">Effective Anlysis Ways</a></h2>
                            </div>
                            <div class="post-fact">
                                <a href="#"><i class="icofont icofont-user"></i> Admin</a><a href="#"><i class="icofont icofont-comment"></i> 24 Comments</a><a href="#"><i class="icofont icofont-like"></i> 114 Like</a>
                            </div>
                            <div class="post-content">
                                <p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci.</p>
                                <p><span><a class="font-500 p-color" href="blog-details.html"><i class="icofont icofont-arrow-right p-color"></i> Read More</a></span><span class="float-right"><a class="font-500 p-color" href="#"><i class="icofont icofont-user p-color"></i> 18 Apr 2018</a></span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Latest Post Single-->

            <!--Start Button-->
            <div class="col-lg-12">
                <div class="blog-btn text-center">
                    <a href="blog.html">Browse More</a>
                </div>
            </div>
            <!--End Button-->
        </div>
        <!--End Blog Post Row-->
    </div>
    <!--End Container-->
</section>
<!--End Latest Blog Section-->

<!--Start Footer-->
<footer id="footer">
    <!--Start Footer Top-->
    <div class="footer-top">
        <!--Start Container-->
        <div class="container">
            <!--Start Row-->
            <div class="row">
                <!--Start Footer About-->
                <div class="col-lg-3 col-md-6 mb-3">
                    <div class="footer-about">
                        <h3 class="color-white">About Us</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae quod quas tenetur accusantium nulla obcaecati ex veniam quia atque, necessitatibus.</p>
                    </div>
                    <div class="footer-newsletter">
                        <h4 class="color-white">Subscribe Now</h4>
                        <form>
                          <input type="email" name="email"><input type="submit" value="Subscribe">
                      </form>
                  </div>
              </div>
              <!--End Footer About-->

              <!--Start Footer Links-->
              <div class="col-lg-3 col-md-6 mb-3">
                <div class="footer-links">
                    <h3 class="color-white">Important Links</h3>
                    <ul>
                        <li><a href="#"><i class="fas fa-angle-right"></i> Terms and Condition</a></li>
                        <li><a href="#"><i class="fas fa-angle-right"></i> Our Policy</a></li>
                        <li><a href="#"><i class="fas fa-angle-right"></i> Copyright Notice</a></li>
                        <li><a href="#"><i class="fas fa-angle-right"></i> Our Best Services</a></li>
                        <li><a href="#"><i class="fas fa-angle-right"></i> Product Promotion Tips</a></li>
                        <li><a href="#"><i class="fas fa-angle-right"></i> Business Financing</a></li>
                    </ul>
                </div>
            </div>
            <!--End Footer Links-->

            <!--Start Footer Latest News-->
            <div class="col-lg-3 col-md-6 mb-3">
                <div class="footer-latest-news">
                    <h3 class="color-white">Latest News</h3>
                    <!--Start Recent Post Single-->
                    <div class="recent-post-single fix">
                        <div class="post-img float-left">
                            <a href="#"><img src="img/news-01.jpg" class="img-fluid" alt="Image"></a>
                        </div>
                        <div class="post-cont float-right">
                            <h5><a class="color-white" href="#">Business Promotion Tips</a></h5>
                            <p><span>15 Jun, 2017</span></p>
                        </div>
                    </div>
                    <!--End Recent Post Single-->

                    <!--Start Recent Post Single-->
                    <div class="recent-post-single fix">
                        <div class="post-img float-left">
                            <a href="#"><img src="img/news-02.jpg" class="img-fluid" alt="Image"></a>
                        </div>
                        <div class="post-cont float-right">
                            <h5><a class="color-white" href="#">Product Marketing Ways</a></h5>
                            <p><span>26 Jun, 2017</span></p>
                        </div>
                    </div>
                    <!--End Recent Post Single-->

                    <!--Start Recent Post Single-->
                    <div class="recent-post-single fix">
                        <div class="post-img float-left">
                            <a href="#"><img src="img/news-03.jpg" class="img-fluid" alt="Image"></a>
                        </div>
                        <div class="post-cont float-right">
                            <h5><a class="color-white" href="#">Effective Marketing Ways</a></h5>
                            <p><span>28 Jun, 2017</span></p>
                        </div>
                    </div>
                    <!--End Recent Post Single-->
                </div>
            </div>
            <!--End Footer Latest News-->

            <!--Start Footer Instagram-->
            <div class="col-lg-3 col-md-6 mb-3">
             <div class="footer-social-area">
                <h3 class="color-white">Follow Us</h3>
                <p class="mb-3">We are happy to see you here.</p>
                <ul>
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                </ul>
            </div>
        </div>
        <!--End Footer Instagram-->

    </div>
    <!--End Row-->
</div>
<!--End Container-->
</div>
<!--End Footer Top-->

<!--Start Footer Bottom-->
<div class="footer-bottom">
    <p class="color-white text-center"> &copy; Copy 2018. All Rights Reserved By <a class="p-color" href="#">Nine-11</a></p>
</div>
<!--End Footer Bottom-->

<!--Start Click To Top-->
<div class="click-to-top">
    <a href="#body-wrapper" class="js-scroll-trigger"><i class="fas fa-angle-double-up"></i></a>
</div>
<!--End Click To Top-->
</footer>
<!--End Footer-->
</div>
<!--End Body Wrap-->

<!--jQuery JS-->
<script src="js/jquery-1.12.0.min.js"></script>
<!--Custom Google Map JS-->
<script src="js/map-scripts.js"></script>
<!--Slick Js-->
<script src="js/slick.min.js"></script>
<!--Counter JS-->
<script src="js/waypoints.js"></script>
<script src="js/counterup.min.js"></script>
<!--Particles custom JS-->
<script src="js/particles.js"></script>
<script src="js/app.js"></script>
<!--Bootstrap JS-->
<script src="js/bootstrap.min.js"></script>
<!--Magnic PopUp JS-->
<script src="js/jquery.magnific-popup.min.js"></script>
<!--Owl Carousel JS-->
<script src="js/owl.carousel.min.js"></script>
<!--Mixitup JS-->
<script src="js/jquery.mixitup.min.js"></script>
<!--Jquery Easing Js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
<!--Scrolly JS-->
<script src="js/scrolly.js"></script>
<!--Ajax Contact JS-->
<script src="js/ajax-contact-form.js"></script>
<!--Icon JS-->
<script src="js/ionicons.js"></script>
<!--Main JS-->
<script src="js/custom.js"></script>

</body>

</html>
